.border {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}
.daycontainer {
    position: relative;
    float: left;
    text-align: center;
    padding: 10px;
}
.hightemp {
    padding-left: 10px;
    padding-left: 10px;
}

.lowtemp {
    padding-right: 10px;
    padding-left: 10px;
    color: grey;
}

.day { 
    color: grey;
}

.graphic {
    margin: 10px;
    padding: 10px;
}

.temps {
    text-align: center;

}
